{
  "presets": ["react-native", "react-native-dotenv", "flow"],
  "retainLines": true,
  "plugins": [
    [
      "module-alias",
      [
        {
          "src": "./images/",
          "expose": "images"
        },
        {
          "src": "./native-base-theme/",
          "expose": "theme"
        },
        {
          "src": "./src/components/",
          "expose": "components"
        },
        {
          "src": "./src/configs/",
          "expose": "configs"
        },
        {
          "src": "./src/services",
          "expose": "services"
        },
        {
          "src": "./src/navigators",
          "expose": "navigators"
        },
        {
          "src": "./src/styles/",
          "expose": "styles"
        },
        {
          "src": "./src/components/_shared",
          "expose": "shared"
        }
      ]
    ]
  ]
}
